# Entornos virtuales
venv/
env/

# Cache de Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Archivos temporales
*.log

# Configuración de VS Code
.vscode/

# Archivos de entorno
.env

# Archivos generados por Tkinter o GUIs
*.db
*.sqlite3

# Archivos de compilación
build/
dist/
